@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    padding: 0;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
  }

  button {
    font-weight: 700;
  }

  input, textarea {
    font-weight: 500;
  }
}